# Postgres configuration
POSTGRES_DB=nocodb
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_USER=postgres
# PostgreSQL dumps configuration - ex. every day at 8pm for 30 days
PG_DUMP_CRON="0 20 * * *"
PG_DUMPS_TO_KEEP=30

# Redis configuration
REDIS_PASSWORD=your_redis_password

# MinIO configuration
MINIO_ROOT_PASSWORD=your_minio_password
MINIO_ROOT_USER=your_minio_user

# Watchtower schedule configuration - ex. every saturday at 2am
WATCHTOWER_SCHEDULE="0 2 * * 6"

# NocoDB configuration
NC_DB=pg://db:5432?d=nocodb&user=postgres&password=your_postgres_password
# NC_PUBLIC_URL should be https://your_public_url
NC_PUBLIC_URL=http://localhost
NC_REDIS_URL=redis://:your_redis_password@redis:6379/0
NC_S3_ACCESS_KEY=your_minio_user
NC_S3_ACCESS_SECRET=your_minio_password
NC_S3_BUCKET_NAME=nocodb
# NC_S3_ENDPOINT should be https://your_minio_endpoint
NC_S3_ENDPOINT=http://localhost:9000
NC_S3_FORCE_PATH_STYLE=true
NC_S3_REGION=your_S3_region
